.App {
  padding: 20px;
}

.App h1{
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.main-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.card-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  width: 250px;
  height: max-content;
  padding: 10px;
  background-color: rgba(255, 245, 238, 0.39);
  color: whitesmoke;
  margin-bottom: 10px;
}

.card img {
  max-width: 100%;
}

.attributes-container {
  border: 2px solid greenyellow;
  padding: 10px;
}